<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/tictactoe.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>

        <script src='/static/test.js'></script>

        <style>
            button {
                font-size: 300%;
            }
        </style>
    </head>
    <body>
        <!-- <button id="hello">Hello</button> -->
        <button id="zero">_</button>
        <button id="one">_</button>
        <button id="two">_</button>

        <br></br>

        <button id="three">_</button>
        <button id="four">_</button>
        <button id="five">_</button>

        <br></br>

        <button id="six">_</button>
        <button id="seven">_</button>
        <button id="eight">_</button> 
    </body>
</html>