<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/tictactoe.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

        <script src='/static/test.js'></script>

        <style>
            button {
                font-size: 300%;
            }
        </style>
    </head>
    <body>
        <h3 id="winner"></h3>


        <button id="0" class="game">_</button>
        <button id="1" class="game">_</button>
        <button id="2" class="game">_</button>

        <br></br>

        <button id="3" class="game">_</button>
        <button id="4" class="game">_</button>
        <button id="5" class="game">_</button>

        <br></br>

        <button id="6" class="game">_</button>
        <button id="7" class="game">_</button>
        <button id="8" class="game">_</button> 

        <br></br>

        <button id="reload" style= "display: none">Reload</button> 
    </body>
</html>