<!DOCTYPE html>
<html>
    <head>
        <title>Login!</title>
        <link rel="stylesheet" type="text/css" href="/static/tictactoe.css">
           
        <form method="POST">
            <div>
                <h5>Username : </h5>
            </div>
            <input type="text" name="username"/>
            <div>
                <h5>Password : </h5>
            </div>
            <input type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
        <h2>{{status1}}</h2>
    </body>
</html>