<!DOCTYPE html>
<html>
    <head>
        <title>RSVP!</title>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=Tangerine');
            html{
                background-color: #e6ffff;
            }
            h2{
                color:#ff3333;
                background-color:#c2a62c;
                font-size:45px;
                width: 220;
                font-family:'Tangerine',serif;
                text-align: left;
                border-style: dotted;
                border-color: #ff66d9;
            }
        </style>
        <h2>{{info}}</h2>
    </body>
</html>