@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1{
    color:rgb(255, 0, 221);
    background-color:rgb(21, 196, 255);
    font-size:25px;
    font-family:'Indie Flower',cursive;
    text-align: center;
    border-style: solid;
    border-color: #B126EE;
}

table{
    color:rgb(75, 11, 66);
    background-color:rgb(21, 255, 72);
    font-family:'Indie Flower',cursive;
    text-align: center;
    border-style: solid;
    border-color: #B126EE;
}
