<!DOCTYPE html>
<html>
    <head>
        <title>Hello Game!</title>
        <link rel="stylesheet" type="text/css" href="/static/tictactoe.css">
    </head>
    <body>
        {% if error %}
            <h1>{{error}}</h1>
        {% endif %}
        <table>
            {% for row in state %}
                <tr>
                    {% for column in row %}
                        <td>
                            {{column}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form method="POST">
            <div>
                <h4>Choose a position(0, 9) : </h4>
            </div>
            <input type="number" name="position"/>
            <div>
                {% if win == "x wins! Game Over! Please don't submit anymore" %}
                    <input type="submit" value="Submit" disabled/>
                {% elif win == "o wins! Game Over! Please don't submit anymore"  %}
                    <input type="submit" value="Submit" disabled/>
                {% else %}
                    <input type="submit" value="Submit"/>
                {% endif %}
            </div>
        </form>
        <h5>{{turn_statement}}</h5>
        <h2>{{win}}</h2>
    </body>
</html>